body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px#000;
    perspective: 1000px; /* Für den Flip-Effekt */
    background-color: #aab;
    width: 80%;
    height:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    height: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
}

.card-front {
    background-color: #e0f7fa;
    color: #00838f;
}

.card-back {
    background-color: #b2ebf2;
    color: #006064;
    transform: rotateY(180deg);
}

.options-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.option {
    margin-bottom: 5px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
}

.option:hover {
    background-color: #eee;
}

.feedback {
    margin-top: 15px;
    font-weight: bold;
}

.rating-container {
    margin-top: 20px;
    display: none;
}

.rating-button {
    padding: 8px 15px;
    margin: 0 5px;
    cursor: pointer;
}

#counter{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.counterBox{
    width: 40%;
    height:50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 5px #888;
}
#right{
    background-color: #55ffaa;
}
#wrong{
    background-color: #ff5555;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color: lightblue;
    width: 100%;
    height:50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fab {
    font-size: 2em; /* Verdoppelt die Standardgröße */
    color: #333; /* Setzt die Farbe auf Dunkelgrau */
  }